* {
  /* border: solid 1px #ff0000; */
}

/* MOBILE FIRST CONCEPT */
html {
  /* the base font size <p>,... */
  font-size: 10px;
}
/* media queries */
/* the value defines a breakpoint */
@media (min-width: 420px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
}

body {
  /* propery: value; */
  /* values can have units or be unitless */
  margin: 0;

  /*  colors
      HEX: 0,1,2,3,4,5,6,a,b,d,e,f
      #RRGGBB
      #RRGGBBAA
      shorthand
      #RGB
      #RGBA

      KEYWORD: red, green, blue,
  */
  background-color: #111111;
  /* typography */
  font-family: Arial, Helvetica, sans-serif;
  color: #eeeeee;
}

/*
  TYPOGRAPHIC ELEMENTS
*/
h1 {

}
h2 {

}
p {

}
/* link */
a {
  color: #ff0000;
}
/* image */
img {
  /* responsive image trick */
  width: 100%;
  height: auto;
}
